# Ignore Git-related files
.git
.gitignore

# Ignore Maven build directories and files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Ignore Gradle build directories and files (if using Gradle)
build/
.gradle/

# Ignore IDE-specific files and directories
.idea/
.project
.classpath
.settings/
*.iml
*.iws
*.ipr
.vscode/

# Ignore Docker-specific files
Dockerfile
.dockerignore

# Ignore logs and temporary files
logs/
*.log
tmp/
*.tmp

# Ignore local environment configuration
.env