version: '3.8'

services:
  # 1. Spring Boot Service Registry (Eureka)
  service-registry:
    # Points to the Dockerfile in the 'service-registry' folder
    build:
      context: ./service-registry 
      dockerfile: Dockerfile
    container_name: service-registry-container
    ports:
      - "8761:8761" 
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/"]
      interval: 5s
      timeout: 2s
      retries: 10
    networks:
      - microservice-net
    restart: always

  # 2. spring boot api gateway
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway-container
    ports:
      - "8080:8080" 
    networks:
      - microservice-net
    depends_on:
      service-registry:
        condition: service_healthy
    restart: always

  # 3. Spring Boot Event Service
  event-service:
    build:
      context: ./event-service
      dockerfile: Dockerfile
    container_name: event-service-container
    ports:
      - "8081:8081"
    networks:
      - microservice-net
    depends_on:
      service-registry:
        condition: service_healthy
    environment:
      # Use the 'dev' profile for configuration specific to the development environment
      - SPRING_PROFILES_ACTIVE=dev


  # 4. Flask User Service
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service-container
    ports:
      - "8082:8082"
    networks:
      - microservice-net
    environment:
      - SERVICE_NAME=user-service
      - SERVICE_PORT=8082
      - HOST=user-service
      - MONGO_URI=mongodb://host.docker.internal:27017/user_db
      - SECRET_KEY=supersecretkey
      - OTP_EXPIRY_MINUTES=5
      - EUREKA_SERVER=http://service-registry:8761/eureka
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=notifications
    depends_on:
      service-registry:
        condition: service_healthy
      kafka:
        condition: service_started
    restart: always

  # 5. Node Event Registration Service
  event-registration-service:
    build:
      context: ./event-registration-service
      dockerfile: Dockerfile
    container_name: event-registration-container
    ports:
      - "8083:8083"
    environment:
      - PORT=8083
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=Ram@2208
      - DB_NAME=registrationdb
      - EUREKA_HOST=service-registry
      - EUREKA_PORT=8761
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=notifications
    networks:
      - microservice-net
    depends_on:
      service-registry:
        condition: service_healthy
    restart: always

  # Zookeeper (required by Kafka)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "echo", "ruok", "|", "nc", "localhost", "2181"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - microservice-net

  # Kafka Broker
  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - microservice-net

  # 6. Node notification Service
  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    container_name: notification-container
    ports:
      - "8084:8084"
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=notifications
      - EMAIL_USER=iipsacademicspotal@gmail.com
      - EMAIL_PASS=bmncwgkgjvzfovmh
      - EUREKA_HOST=service-registry
      - EUREKA_PORT=8761
    networks:
      - microservice-net
    depends_on:
      service-registry:
        condition: service_healthy
      kafka:
        condition: service_started
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-container
    ports:
      - "5173:80"
    networks:
      - microservice-net

networks:
  microservice-net:
    driver: bridge
    