spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

      # globalcors:
      #   corsConfigurations:
      #     '[/**]':
      #       allowedOrigins: "http://localhost:5173"
      #       allowedMethods:
      #         - GET
      #         - POST
      #         - PUT
      #         - DELETE
      #       allowedHeaders: "*"
      #       allowCredentials: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/