server:
  port: 8081

spring:
  application:
    name: event-service

  datasource:
    url: jdbc:mysql://host.docker.internal:3306/eventdb
    username: root
    password: Ram@2208
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://service-registry:8761/eureka/